<!DOCTYPE html>
<html>
<title>John's Home Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <a href= "http://github.com/johnboniello"><i class="fa fa-github w3-hover-opacity"></i></a>    
    <!--<a href= "http://twitter.com/intent/tweet?text=Check%20this%20out!"> <link rel="canonical" href="johnboniello.com"><i class="fa fa-twitter w3-hover-opacity"></i></a>-->
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-show-count="false"><i class="fa fa-twitter w3-hover-opacity"></i></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href = "http://www.linkedin.com/in/john-boniello-280a2532"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://www.pinterest.com/pin/create/button/" data-pin-do = "buttonBookmark"><i class="fa fa-pinterest w3-hover-opacity"></i></a>
 </div>
 <div class="fb-like" data-href="http://johnboniello.com/Extended-Time-Calculator/" data-width="30" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
 </div>

</footer>
</html>
