<!DOCTYPE html>
<html>
{% include analyticshead.html %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <body>

<!--<a href="http://johnboniello.github.io"><button class="w3-button w3-light-grey w3-padding-large w3-large w3-margin-top">Go back to home</button></a>-->
<div class="row">
	<div class="column left";">
  	<div class="w3-right">
  	<div class="w3-bar w3-light-grey w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="https://johnboniello.github.io" class="w3-bar-item w3-hide-small w3-button w3-padding-large w3-hover-gray  " style="width:100%; text-align: left; font-family: 'Montserrat', sans-serif; color: black">Home</a>
    <a href="http://johnboniello.github.io/Extended-Time-Calculator" class="w3-bar-item w3-hide-small w3-button w3-padding-large w3-hover-gray" style="width:100%; text-align: left; font-family: 'Montserrat', sans-serif; color: black">Extended Time Calculator</a>
  	<a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-white" style="width:100%; text-align: left; font-family: 'Montserrat', sans-serif; color: black">Research Round-up</a>
    <a href="http://johnboniello.github.io/blog2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-gray" style="width:100%; text-align: left; font-family: 'Montserrat', sans-serif; color: black">Blogs</a>
</div>
</div>
<div id="navDemo" class="w3-right w3-bar-block w3-light-gray w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="https://johnboniello.github.io" class="w3-bar-item w3-button w3-padding-large ">Home</a>
    <a href="http://johnboniello.github.io/Extended-Time-Calculator" class="w3-bar-item w3-button w3-padding-large ">Extended Time Calculator</a>
    <a href="http://johnboniello.com/Research-round-up/" class="w3-bar-item w3-button w3-padding-large w3-white">Research Roundup </a>
    <a href="http://johnboniello.github.io/blog2" class="w3-bar-item w3-button  w3-padding-large">Blogs</a>
  </div>
  </br>
</br>
</div>
	<div class="column right";>
				 {{ post.excerpt }}


</div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
